.navbar{
    background-color:black ;
    display: flex;
    justify-content: center;
    color: white;
}
.home{
    margin: 30px ;

}
.about{
    margin: 30px;
}
.project{
    margin: 30px;

}
 .contact{
    margin:30px;

 }
 .img{
    width: 400px;
    height: 400px;
 }
 body{
    background-color: plum;
    color:white ;
}
.contact-box{
    background: fixed;
    display:flex
}
 
